

/*-----General ----- */
.navigation-style{
  border: 1px solid lightgrey;
  background-color: inherit;
  border-radius: 5px;
}


/*-----Play ----- */

.game-info{
  margin:20px;
}


.game-comparison{
  margin:40px;
}

.game-container{
  border: 1px solid lightgrey;
  text-align: center;
  font-style: italic;
  margin:20px;
  border-radius: 5px;
}

.choice-container{
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 20px;
  cursor: hand;
  border-radius: 5px;
}

.choice-container img {
  width: 200px;
}


.prompt-container{
  border:1px solid lightgrey;
  margin:30px;
  overflow:hidden;
}

.prompt-tile
{
  display: inline-block;
  float: left;
  text-align: center;
  margin:30px;
  border: 1px solid lightgrey;
  height:240px;
  width:240px;
  cursor: pointer;
}

.prompt-tile:hover img {
  display:none,
}


.prompt-tile h3{
  display:none;
}
.prompt-tile:hover h3{
  display:block;
  width:inherit;
  height:inherit;
}


.prompt-tile
{
  text-align: center;
  float: left;
  margin:30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.prompt-tile:hover img {
  display:none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.list-group-item img {
  height: 50px;
  width: 50px;
}

.prompt-buttons {
  margin-bottom: 30px;
}


/*-----Stats page----- */

dl {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 650px;
  position: relative;
  padding: 20px;
}

dt {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}


.mini-prompt-tile {
  margin-right: 80px;
  margin-left: 30px;
  cursor: pointer;
  cursor: hand;
  border-radius: 12px;
}


.text {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 22%;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}





/*-----Login----- */


.container .jumbotron {
  border-radius: 5px;
}

.login-container {
  background-color: rgb(249, 249, 252);
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
}

.selling-points {
  font-size: 1.5em;
  margin-top: 30px;
}


.screenShot {
  max-width: 100%;
  height: auto;
  width: auto;
}

.btn-fb {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.left-column-login {
  content: '';
  height: 100 % ;
  display: inline-block;
}

.right-column-login {
  text-align: center;
  content: '';
  height: 100 % ;
  display: inline-block;
  vertical-align: middle;
}
