/*Copyright <2017> <Michael Thelen, Bartek Rigngwelski, Neil Romana, Nikshala Velayutham>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/


body {
  background-color: black;
}

 /*This block is used on the User_Stats component
    which styles a graph based on percentage*/
dl {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 650px;
  position: relative;
  padding: 20px;
}


/*-----General ----- */
.navigation-style{
  border: 1px solid lightgrey;
  border-radius: 5px;
}

nav.navigation-style.navbar.navbar-light.bg-faded {
  background-color: #FFC107;
}

li.list-group-item {
  background-color: #FFECB3;
}
/*div {
  border: 1px green solid;
}*/

/*.main {
  background-color: #FFC107;
}*/


/*-----Play ----- */

.footer {
  background-color: rgb(205, 202, 196);
  text-align: center;
  border-radius: 5px;
}


/*-----Play ----- */



.spinner {
  position: absolute;
  margin-left: -56px;

}

.media-heading{
  margin-left: 20px;
  font-size: 1.25em;
}

.game-info{
  margin:20px;
}


.game-comparison{
  margin:40px;
}

.game-container{
  border: 1px solid lightgrey;
  text-align: center;
  font-style: italic;
  margin:20px;
  border-radius: 5px;
}

.choice-container{
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 20px;
  cursor: hand;
  cursor: pointer;
  border-radius: 5px;
}

.choice-container:hover {
  background-color: #eee;
}

.choice-container img {
  width: 200px;
}


.prompt-container{
  border:1px solid lightgrey;
  margin:30px;
  overflow:hidden;
}

.prompt-tile
{
  display: inline-block;
  float: left;
  text-align: center;
  margin:30px;
  border: 1px solid lightgrey;
  height:240px;
  width:240px;
  cursor: pointer;
}

.prompt-tile:hover img {
  display:none,
}


.prompt-tile h3{
  display:none;
}
.prompt-tile:hover h3{
  display:block;
  width:inherit;
  height:inherit;
}


.prompt-tile
{
  text-align: center;
  float: left;
  margin:30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.prompt-tile:hover img {
  display:none;
}

.mini-prompt-tile {
  margin-right: 80px;
  margin-left: 30px;
  cursor: pointer;
  cursor: hand;
  border-radius: 12px;
  width: 130px;
}

img.mini-prompt-tile {
  height: 50px;
  width: 50px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #00BCD4;
}

.list-group-item img {
  height: 50px;
  width: 50px;
}

.list-group {
  margin-left: 10px;
}

.prompt-buttons {
  margin-bottom: 30px;
}

sup {
  right: 10%;
}


/*-----Stats page----- */

dl {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 650px;
  position: relative;
  padding: 20px;
}

dt {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 22%;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}


/*//////////////////////////*/
/*/                        /*/
/*/     Percentage         /*/
/*/     Formatting         /*/
/*/                        /*/
/*//////////////////////////*/



.percentage {
  line-height: 1;
  text-transform: uppercase;
  max-width: 75%;
  height: 40px;
  margin-left: 45px;
  background: -webkit-repeating-linear-gradient(left, #ddd, #ddd 1px, #fff 1px, #fff 5%);
  background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 5%);
}
.percentage:after {
  content: "";
  display: block;
  background-color: #3d9970;
  width: 50px;
  margin-bottom: 10px;
  margin-left: 20%;
  height: 90%;
  position: relative;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s ease;
}

/*-----Login----- */


.container.jumbotron {
  border-radius: 5px;
}
.jumbotron.jumbotron-fluid {
  background-color: #FFC107;
  border-radius: 8px;
}

.login-container {
  background-color: rgb(249, 249, 252);
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
}

.selling-points {
  font-size: 1.5em;
  margin-top: 30px;
}


.screenShot {
  max-width: 100%;
  height: auto;
  width: auto;
}

.btn-fb {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.left-column-login {
  content: '';
  height: 100 % ;
  display: inline-block;
}

.right-column-login {
  text-align: center;
  content: '';
  height: 100 % ;
  display: inline-block;
  vertical-align: middle;
}

ol li img {
  border-radius: 50%;
  max-width: 30%;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}



.top5-container {
  margin-top: 20px;
}

.prompts-button {
 margin-left: 20px;
}